# API токен бота из BotFather
TG_API_TOKEN=API token of your bot
VK_API_TOKEN=API token of your bot
PROXY=Proxy URL
LOG_CHAT=Id of chat
ADMIN_IDS="[id1, id2, ...]"

# Уровень логирования (DEBUG, INFO, WARNING, ERROR, CRITICAL)
LOG_LEVEL=INFO

# Путь к файлу логов (если не указан, логи будут выводиться в консоль)
LOG_FILE=logs/bot.log

SECRET_KEY=Secret key for auth
# Формат логов (по умолчанию: "%(asctime)s - %(name)s - %(levelname)s - %(message)s")
LOG_FORMAT=%(asctime)s - %(name)s - %(levelname)s - %(message)s"